<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t('admin.integrations.elta_courier.title') %>
    </h5>
  </div>
  <div class="card-body">
    <%= f.spree_check_box :elta_courier %>
  </div>
</div>
